<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Exercise 4</title>
</head>

<body>
    <div id="app">
        <div @keydown.esc="resetVotes">
            <h1>Candidates</h1>
            <div v-for="candidate in candidates" :key="candidate.name">
                {{candidate.name}} - {{candidate.votes}} -
                <button @click="increaseVotes(candidate)">Vote for {{candidate.name}}</button>
            </div>
            <form>
                <label for="newUser"></label>
                <input id="newUser" type="text" v-model="newUser" />
                <button @click.prevent="addNewUser">Submit</button>
            </form>
        </div>
    </div>

    <script>
        const App = {
            data() {
                return {
                    candidates: [{
                        name: 'Eric',
                        votes: 0
                    }, {
                        name: 'Dave',
                        votes: 220
                    }, {
                        name: 'Paul',
                        votes: 0
                    }, ],
                    newUser: ''
                }
            },
            methods: {
                increaseVotes(candidate) {
                    candidate.votes++
                },
                addNewUser() {
                    if (!this.newUser) return
                    this.candidates.push({
                        name: this.newUser,
                        votes: 0
                    })
                    this.newUser = ''
                },
                resetVotes() {
                    this.candidates.forEach(candidate => {
                        candidate.votes = 0
                    })
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>